RewriteEngine On

RewriteRule ^beranda$  link/home.php [L]
RewriteRule ^login$  link/login.php [L]
RewriteRule ^about$  link/about.php [L]
RewriteRule ^aturan$  link/aturan.php [L]

RewriteRule ^admin/(.*)-(.*)-(.*)$  link/main.php?page=$1&p=$2&h=$3 [L]
RewriteRule ^admin/(.*)-(.*)$  link/main.php?page=$1&p=$2 [L]
RewriteRule ^admin/(.*)$  link/main.php?page=$1 [L]
RewriteRule ^anggota/(.*)-(.*)-(.*)$  link/main.php?page=$1&p=$2&h=$3 [L]
RewriteRule ^anggota/(.*)-(.*)$  link/main.php?page=$1&p=$2 [L]
RewriteRule ^anggota/(.*)$  link/main.php?page=$1 [L]
RewriteRule ^proses/(.*)/(.*)$	belakang/kerja.php?a=p_$1&id=$2 [L]
RewriteRule ^proses/(.*)$	belakang/kerja.php?a=p_$1 [L]
RewriteRule ^masukan/(.*)$	belakang/kerja.php?a=i_$1 [L]

Options All -indexes